form {
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #428d70;
    color: white;
    font-weight: 700;
    cursor:pointer;
}

.button:hover {
    background-color: #499a7b;
}

input[type="text"] {
    width: 100%; /* replace with the width of your button */
  }

  .textbox {
    height: 100px;
    width: 100%; /* replace with the width of your text box */
    margin-right: 10px; /* adjust as needed */
  }