body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

form {
    background-color: #f8f8f8;
    width: 300px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #428d70;
    color: white;
    font-weight: 700;
    cursor:pointer;
}

.button:hover {
    background-color: #499a7b;
}

input[type="text"] {
    width: 100%; 
    text-align: start;
  }

.textbox {
    height: 100px;
    width: 100%; /* replace with the width of your text box */
    margin-right: 10px; /* adjust as needed */
    resize: none;
  }

.select_area {
    width: 1440px;
    height: 900px;
    size-adjust: 1440px, 900px;
    display: flex;
}
/* 
.select_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: 0.2;
  }
*/
#canvas {
/*     position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
 */    z-index: 9999;
    opacity: 0.8;

} 