.principal{
    display: flex;
    background-color: #f8f8f8;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.buttons-container{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .button {
            width: 8rem;
            padding:10px 5px;
            border: none;
            border-radius: 5px;
            margin-top: 15px;
            background-color: #428d70;
            color: white;
            font-weight: 700;
            cursor: pointer;
            margin-bottom: 10px;
    
        }
        .button:active {
            background-color:#51ac89;
        }
    
      .upload-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
        background-color: #428d70;
        color: white;
        font-weight: 700;
        cursor: pointer;
        width: 8rem;
        padding: 10px 5px;
        border-radius: 5px;
      }
      .upload-button:hover{
        background-color: #4b977a;
      }
      .upload-button:active{
        background-color: #51ac89;
      }
    
}


.button:hover {
    background-color: #499a7b;
}


/* input[type="text"] {
    width: 100%; 
    text-align: start;
  } */

.textbox {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    /* width: 100%; replace with the width of your text box */
    margin-right: 10px; /* adjust as needed */
    resize: none;
  }

  .textbox:disabled{
    background-color: white;
  }

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: darkgrey white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
  border: 3px solid white;
}

.copy{
  position: absolute;
  top: 1.5rem;
  left: 33.5rem;
  opacity: 0.5;
}
.copy:hover{
  cursor: pointer;
  opacity:1;
}

